body{
            background: black;
            margin:0px;
        }
        h1
        {
            color:white;
            text-align:center;
            padding: 5px;
            min-height: 100%;
            min-width: 100%;
            margin:0;
            text-transform: uppercase;
        }
        #stripe
        {
            background:white;
            height: 30px;
            text-align: center;
            color: black;
        }
        .square
        {
            background-color: aqua;
            float:left;
            padding-bottom: 30%;
            width:30%;
            margin:1.66%;
            border-radius: 7px;
            transition: background 0.8s;
        }
        .container
        {
            max-width:500px;
            margin:20px auto;
            
        }
        #message
        {
            color:black;
            padding:0 15px;
        }
        #hard
        {
            margin:5px 10px 5px 10px;
        }
        #easy
        {
            margin:5px 10px 5px 10px;
            padding:auto;
        }
        .noClick
        {
            pointer-events: none;
        }